.menu-wrapper {
  :deep(.ant-menu-inline) {
    .ant-menu-item {
      width: calc(100% - 16px);
      margin-inline: 8px;
    }
  }

  :deep(.ant-menu-submenu-title) {
    width: calc(100% - 16px);
    margin-inline: 8px;
  }

  :deep(.ant-menu-inline-collapsed) {
    > .ant-menu-item {
      padding-inline: calc(50% - 14px);
    }

    .ant-menu-item-icon {
      vertical-align: -0.25em;
    }

    .ant-menu-submenu-title {
      padding-inline: calc(50% - 18px);
    }
  }

  /* 当没有图标时给标题留出 20px 左边距 */
  .ant-menu-item .ant-menu-title-content,
  .horizontal-menu .ant-menu-item .ant-menu-title-content {
    padding-left: 12px;
  }

  .ant-menu-item .ant-menu-item-icon + .ant-menu-title-content,
  .horizontal-menu .ant-menu-item .ant-menu-item-icon + .ant-menu-title-content {
    padding-left: 0cm;
  }
}

.select-menu {
  :deep(.ant-menu-inline) {
    .ant-menu-item-selected {
      background-color: var(--selected-bg-color);
    }
  }
}

.horizontal-menu {
  :deep(.ant-menu-horizontal) {
    .ant-menu-item {
      display: flex;
      align-items: center;
    }

    .ant-menu-submenu-title {
      display: flex;
      align-items: center;
    }
  }
}
