@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

.searchAlign {
  margin-left: 88px;
}

.orange-btn {
  background-color: #f39c12 !important; /* 警告黄 */
  border-color: #f39c12 !important;
  color: #fff !important;
}
.orange-btn:hover {
  background-color: #ffbe3c !important;
  border-color: #ffbe3c !important;
}

.red-btn {
  background-color: #dd4b39 !important; /* 警告黄 */
  border-color: #dd4b39 !important;
  color: #fff !important;
}
.red-btn:hover {
  background-color: #f66060 !important;
  border-color: #f66060 !important;
}

.blue-btn {
  background-color: #00acd6 !important; /* 蓝色 */
  border-color: #00acd6 !important;
  color: #fff !important;
}
.blue-btn:hover {
  background-color: #20bde3 !important;
  border-color: #20bde3 !important;
}

.green-btn {
  background-color: #008d4c !important; /* 蓝色 */
  border-color: #008d4c !important;
  color: #fff !important;
}
.green-btn:hover {
  background-color: #07af61 !important;
  border-color: #07af61 !important;
}

.row-btn {
  text-align: center !important;
  padding: 2px 8px 2px 8px !important;
  height: 26px !important;
}

.en-edit {
  width: 70px;
}

.row-btn > span {
  text-indent: 2px;
}

button {
  font-size: 12px !important;
}
